<!-- Just an image -->
<nav class="navbar navbar-light fixed-top shadow-lg">
    <a class="navbar-brand" routerLink="/" data-aos="fade-right" data-aos-duration="1000">
      <img src="assets/sample.png" width="40%" height="60" alt="" loading="lazy">
    </a>
    <ul class="nav justify-content-center" data-aos="fade-up" data-aos-duration="1000">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="help">Help</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Register Here</a>
        </li>
      </ul>
  </nav>