<!-- carousel -->
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/caro3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <button class="btn mainBtn btn-lg shadow" data-aos="flip-up" data-aos-duration="1000">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                    <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
                  </svg>&nbsp;
                Start Now</button>
          </div>
      </div>
     <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- end carousel -->

  <!-- card -->
  <div class="row mt-5">
    <div class="col-sm-4">
        <div class="card" data-aos="fade-down" data-aos-duration="1000">
            <div class="text-center">
                <h2 class="fontFam">Create Account</h2>
                <p class="fontFam">Sign up with your ROBLOX username or Google Account</p>
            </div> 
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" data-aos="fade-down" data-aos-duration="1000">
            <div class="text-center">
                <h2 class="fontFam">Complete Tasks</h2>
                <p class="fontFam">Complete tasks for Robux</p>
            </div> 
        </div>  
   </div>
   <div class="col-sm-4">
    <div class="card" data-aos="fade-down" data-aos-duration="1000">
        <div class="text-center">
            <h2 class="fontFam">Withdraw Robux</h2>
            <p class="fontFam">Transfer your Robux to your ROBLOX account</p>
        </div> 
    </div>
  </div>
  </div>
    <div class="mt-2" style="background-image: url(assets/cardBg.jpg);width: 100%;">
    <div class="container">
         <!-- largeCard -->
  <div class="row">
    <div class="col-sm-4">
        <div class="card card1 shadow-lg" data-aos="flip-left" data-aos-duration="1000">
            <h5 class="card-header bg-danger">Start Now<i class="fa fa-close pull-right"></i></h5>
            <div class="card-body">
                <img src="assets/profile.jpg" width="20%" height="20%" class="rounded float-left p-2 d-inline" alt="..."> 
                <h4 class="pull-right p-2">Udxv12377</h4>
                <div class="form-group mt-4">
                    <input class="form-control mt-2" placeholder="Enter Your Roblex Name">
                </div>
                <button class="btn btn-danger form-control">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bounding-box" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M5 2V0H0v5h2v6H0v5h5v-2h6v2h5v-5h-2V5h2V0h-5v2H5zm6 1H5v2H3v6h2v2h6v-2h2V5h-2V3zm1-2v3h3V1h-3zm3 11h-3v3h3v-3zM4 15v-3H1v3h3zM1 4h3V1H1v3z"/>
                      </svg>&nbsp;
                      Enter With Roblox Username
                </button>
                <button class="btn btn-warning form-control mt-3">
                   <i class="fa fa-google" style="color:orangered"></i>&nbsp;
                   Sign in with Google
                </button>
                <button class="btn btn-info form-control mt-3">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chat-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2 1h12a1 1 0 0 1 1 1v11.586l-2-2A2 2 0 0 0 11.586 11H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
                      </svg>&nbsp;
                     Sign in with discord
                </button>
            </div>
           </div>
    </div>
    <div class="col-sm-4">
        <div class="card card1 shadow-lg" data-aos="zoom-in" data-aos-duration="1000">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="assets/caro1.jpg" width="100%" height="70%" alt="..."> 
                    </div>
                    <div class="col-sm-6">
                        <h5>Quiz diva fornite</h5>
                        <p class="text-muted">Complete the quiz with 100% score</p>
                    </div>
                    <div class="col-sm-3">
                        <a routerLink="/" class="smallBtn">+5.71</a>
                    </div>
                </div><hr>
                <div class="row">
                    <div class="col-sm-3">
                        <img src="assets/caro2.jpg" width="100%" height="70%" alt="..."> 
                    </div>
                    <div class="col-sm-6">
                        <h5>Quiz diva fornite</h5>
                        <p class="text-muted">Complete the quiz with 100% score</p>
                    </div>
                    <div class="col-sm-3">
                        <a routerLink="/" class="smallBtn">+5.71</a>
                    </div>
                </div><hr>
                <div class="row">
                    <div class="col-sm-3">
                        <img src="assets/caro3.jpg" width="100%" height="70%" alt="...">
                    </div>
                    <div class="col-sm-6">
                        <h5>Quiz diva fornite</h5>
                        <p class="text-muted">Complete the quiz with 100% score</p>
                       
                    </div>
                    <div class="col-sm-3">
                        <a routerLink="/" class="smallBtn">+5.71</a>
                    </div>
                </div>
           </div>
        </div>
   </div>
  <div class="col-sm-4">
    <div class="card card1 shadow-lg" data-aos="flip-left" data-aos-duration="1000">
        <div class="bg-dark p-3">
            <h4>Withdraw Robox</h4>
            <p>Enter amount of rebox below them press the Withdraw button</p>
            <div class="form-group mt-2">
                <input class="form-control">
            </div>
            <div class="form-group mt-2">
                <button class="btn btn-success">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                      </svg>&nbsp;
                Withdraw      
                </button>
            </div>
        </div>
        <h4 class="p-2">Stock: <span><i class="fa fa-rupee"></i>16520</span></h4>
        <hr>
        <h5 class="p-2">Steps to receive your robox:</h5><br>
       </div>    
  </div>
</div>
<!--end largeCard -->
    </div>    
    </div>
  <!-- end card -->

  <!-- video section -->
  <div class="container mt-3">
      <div class="row">
          <div class="col-sm-6">
            <video width="100%" controls>
                <source src="https://www.youtube.com/watch?v=Tu6_tS3-FXo" type="video">
                Your browser does not support HTML video.
              </video>
          </div>
          <div class="col-sm-6">
            <div class="card">
                <div class="text-center mt-5" data-aos="zoom-in">
                    <h2>Our Tutorial</h2>
                    <h4>Don't forget to like and subscribe</h4><br><br>
                    <button class="btn btn-danger">SUBSCRIBE</button>
                </div>
            </div>
          </div>
      </div>
  </div>
  <!-- end video section -->

  <!-- banner section -->
<div class="banner mt-5 p-4">
    <div class="row">
        <div class="col-sm-3" style="background-color: orangered;">
            <div class="text-center">
                <h3>Get</h3>
                <h1>1</h1>
                <h3>Free ROBUX</h3>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="text-center">
                <h1>GET FREE ROBUX NOW!</h1>
                <h3>Connect your ROBLOX account to strat earning free ROBUX!</h3>
            </div>
        </div>
    </div>
</div>
  <!-- end banner section -->

  <!-- footer -->
  <div class="card text-center mt-2">
    <div class="card-body">
        
       <button class="btn" data-aos="zoom-in" data-aos-duration="1000"><i class="fa fa-facebook d-inline p-2"></i></button>
       <button class="btn" data-aos="zoom-in" data-aos-duration="1000"><i class="fa fa-instagram d-inline p-2"></i></button>   
       <button class="btn" data-aos="zoom-in" data-aos-duration="1000"><i class="fa fa-twitter d-inline p-2"></i></button>   

    </div>
    <div class="card-footer text-muted">
      all copyrights reserved &nbsp;<span>@rbxninja</span>&nbsp;2020
    </div>
  </div>
<!-- end footer -->
 